#about .wrapper{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 30px;
}


#about .wrapper > .column:first-child{
    position: relative;
}
#about .picture{
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}
#about .picture img{
    transition: var(--transition);
}
#about .picture:hover img{
    transform: scale(1.2);
}
#about .picture::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 2;
    background: linear-gradient(to bottom, transparent, var(--bg-primary) 80%);
    transition: var(--transition);
}
#about .picture:hover::before{
    bottom: -100%;
}



#about .group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 40px;
    background: var(--bg-accent);
    border-radius: 10px;
    border: solid .5px var(--border-secondary);
    padding: 30px;
}

#about .group .group-item{
    width: 100%;
    background: var(--bg-secondary);
    padding: 30px;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 10px;
    border: solid .5px var(--border-primary);
    transition: var(--transition);
}
#about .group .group-item .title{
    font-size: 14px;
}
#about .group .group-item:hover{
    background: var(--bg-muted);
    transform: scale(1.1);
}

#about .group .group-item:hover .icon-wrapper{
    transform: scale(1.1);
    color: var(--foreground);
}


@media (max-width:1000px){
    #about .group .group-item{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding: 20px;
    }
}

@media (max-width:900px){
    #about .picture{
        display: none;
    }
    #about .wrapper{
        grid-template-columns: 100%;
    }
    #about .group{
        gap: 15px;
        padding: 20px;
        justify-content: center;
    }
    #about .group .group-item .title{
        font-size: 10px;
    }
}