#footer .contact-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

#footer .contact-options .option{
    background: var(--bg-secondary);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    border: solid .5px var(--border-primary);
    transition: var(--transition);
}

#footer .contact-options .option:hover{
    transform: scale(0.98);
    background: var(--bg-accent);
}

#footer .contact-options .option .icon-wrapper{
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    font-size: 25px;
    background: transparent;
}
#footer .contact-options .option:hover .icon-wrapper{
    color: var(--foreground);
}
#footer .contact-options .option .value{
    font-size: 15px;
}




#footer .bottom-row{
    background: var(--bg-accent);
}
#footer .bottom-row >.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#footer .bottom-row .footer-image{
    width: 130px;
    position: relative;
}
#footer .bottom-row .footer-image::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, var(--bg-accent));
}
#footer .bottom-row .route{
    display: block;
    margin: 10px 0;
    cursor: pointer;
    transition: var(--transition);
}
#footer .bottom-row .route:hover{
    color: var(--primary);
}

#footer .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 20px 50px 20px;
    text-align: center;
}


@media (max-width:800px){
    #footer .contact-options{
      grid-template-columns: repeat(2,1fr);
    }
    #footer .contact-options .option:nth-child(3){
      grid-column: span 2;
    }
    #footer .bottom-row >.wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}
  
@media (max-width:500px){
    #footer .contact-options{
        grid-template-columns: 100%;
    }
    #footer .contact-options .option:nth-child(3){
        grid-column: span 1;
    }
    #footer .bottom-row >.wrapper .column:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #footer .bottom-row >.wrapper{
        grid-template-columns: 100%;
        gap: 40px;
    }

    #footer .bottom-row .title,
    #footer .bottom-row .route{
        text-align: center;
    }
}