@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* :root{
    --gradient: linear-gradient(to top left,#0052D4,#4364F7,#6FB1FC);
    --background: hsl(230 65% 3.36%);
    --foreground: hsl(230 10% 97.1%);
    --muted: hsl(230 50% 12.6%);
    --muted-foreground: hsl(230 10% 54.2%);
    --popover: hsl(230 45% 5.46%);
    --popover-foreground: hsl(230 10% 97.1%);
    --card: hsl(230 45% 5.46%);
    --card-foreground: hsl(230 10% 97.1%);
    --border: hsl(230 50% 12.6%);
    --input: hsl(230 50% 12.6%);
    --primary: hsl(230 100% 42%);
    --primary-foreground: hsl(230 10% 97.1%);
    --secondary: hsl(230 50% 12.6%);
    --secondary-foreground: hsl(230 10% 97.1%);
    --accent: hsl(230 50% 12.6%);
    --accent-foreground: hsl(230 10% 97.1%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(230 10% 97.1%);
    --ring: hsl(230 100% 42%);
} */


:root{
  --bg-primary: #03050e;
  --bg-secondary:#080a14;
  --bg-accent:#101530;
  --bg-muted: #141414;
  --foreground: #f7f7f8;
  --muted-foreground: #7f8296;
  --border-primary: #262626;
  --border-secondary: #101530;
  --gradient: linear-gradient(to top left,#0052D4,#4364F7,#6FB1FC);
  --primary: #0024d6;
  --primary-accent:#4364F7;
  --destructive: #7f1d1d;
  --warning:#ffa500;
  --transition:all 400ms ease;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
}

html,body{
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--foreground);
  font-family:"Poppins",sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

body{
   overflow: hidden;
   overflow-y: auto;
   max-width: 1800px;
   margin: auto;
}

p{
  font-size: 14px;
  line-height: 18px;
}
a{
  color: var(--foreground);
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
}

.heading-1{
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  margin: 20px 0;
}
.gradient-text{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip:text;
}
.muted{
  color: var(--muted-foreground);
}

.wrapper{
  width: 100%;
  max-width: 1150px;
  padding: 70px 20px;
  margin: auto;
}

.flex{
  display: flex;
  gap: 20px;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon-wrapper{
  width: 2.7rem;
  height: 2.7rem;
  min-width: 2.7rem;
  min-height: 2.7rem;
  max-width: 2.7rem;
  max-height: 2.7rem;
  border-radius: 100%;
  background: var(--bg-muted);
  font-size: 20px;
  color: var(--muted-foreground);
  transition: var(--transition);
}
.icon-wrapper:hover{
  background: var(--bg-accent);
  color: var(--foreground);
  transform: scale(1.1);
}
.btn{
  padding: 10px 20px;
  background: var(--secondary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  color: var(--foreground);
  cursor: pointer;
}
.btn.primary{
  background: var(--gradient);
  border: none;
}
.clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-next,
.slick-prev{
    display: none !important;
}


@media (max-width:900px){
  .heading-1{
    font-size: 45px;
  }
}

@media (max-width:600px){
  .heading-1{
    font-size: 25px;
  }
}